* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  width: 100%;
  margin: 0px auto;
  /* margin: -100px auto; */
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
header .on {
  display: flex;
  width: 1200px;
  margin: 0px auto;
  height: 65px;
}
header ul {
  display: flex;

  align-items: center;
  height: 65px;
  width: 1077px;
  text-align: center;
}

header ul li {
  width: 1077px;
  height: 100%;
  line-height: 65px;
}
header img {
  width: 50%;
  display: flex;
  margin: 0px auto;
}
header a {
  display: block;
}

/*------------------------visual---------------------*/
.visual div {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 100%;
  height: 70vh;
  position: relative;
}
.visual div p {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 39px;
  text-align: center;
}

/* h2 */
h2 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
/* photo */
.photo ul {
  width: 100%;
  margin-top: 100px;
  padding: 0px 2rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.photo li {
  width: calc((100% - 2rem) / 3);
  margin-bottom: 2rem;
}
.photo .photo2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}
.photo .photo2 {
  /* text-align: center; */
  font-size: 1rem;
}
